body {
    background: #192233;
    color: white;
    text-align: center;
}

a {
    color: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 3em;
}

.menu {
    filter: url("#goo");
}

.menu-item, .menu-open-button {
    background: #7890FB;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 80px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    margin-top: 200px;
}

.menu-open {
    display: none;
}

.hamburguer {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburguer-1 {
    transform: translate3d(0, -8px, 0);
}

.hamburguer-2 {
    transform: translate3d(0, 0, 0);
}

.hamburguer-3 {
    transform: translate3d(0, -8px, 0);
}

.menu-open:checked + .menu-open-button .hamburguer-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburguer-2 {
    transform: translate3d(0, 0, 0) rotate(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburguer-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}